/* Common
*********************************************************/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: 100% / 1.6 Lora;
}

body {
  background: #fff;
  // color: #3a3a3a;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {

}

a {
  color: #b11;
  text-decoration: none;
}


/* Font
*********************************************************/
h1 {
  color: #13121A;
  font-size: 150%;
  font-weight: 700;
}
h2 { font-size: 125%; }
h3 { font-size: 100%; }


/* Header
*********************************************************/
#header {
  padding: 1rem;
  border-bottom: .1em solid rgba(0, 0, 0, 0.2);
  line-height: 1;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header li {
  display: inline-flex;
}


/* Logo
*********************************************************/
#logo {
  display: block;
  text-align: center;
  font-size: 4em;
}


/* Info section
*********************************************************/
#info {
  padding: 1rem;
}


/* Showcase section
*********************************************************/
.showcase {
  padding: 1rem;
}
.work-recent {

}
.work-info {
  text-align: center;
}


/* Utility classes
*********************************************************/


/* RWD Media queries
*********************************************************/
// @media (min-width: 35em) {
//   html {
//     font-size: 200%;
//   }
//   body {
//     font-size: 50%;
//   }
// }

// @media (min-width: 70em) {
//   html {
//     font-size: 300%;
//   }
//   body {
//     font-size: 40%;
//   }
// }
