/* Common
*********************************************************/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: 100% / 1.6 'Source Sans Pro';
}

body {
  background: #fff;
  // color: #3a3a3a;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  font-weight: 400;
}

a {
  // color: #b11;
  color: #212121;
  text-decoration: none;
}


/* Font
*********************************************************/
h1 {
  // color: #13121A;
  color: #212121;
  font-size: 2rem;
  font-weight: 900;
}

h2 { font-size: 1.5rem; }
h3 { font-size: 1.17em; }


/* Header
*********************************************************/
#header {
  padding: 1rem;
  // border-bottom: .1em solid rgba(0, 0, 0, 0.2);
  line-height: 1;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header li {
  display: inline-flex;
}

#header li a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .01em;
}


/* Logo
*********************************************************/
#logo {
  display: block;
  text-align: center;
  font-size: 2rem;
}


/* Info section
*********************************************************/
#info {
  font-family: 'Lora';
  padding: 2em 0;
}

#info h2 {
  line-height: 1.2em;
}


/* Showcase section
*********************************************************/
.showcase {

}

.work-recent {
  display: flex;
  border-top: .1em solid rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
}

.work-recent img {
  height: 8.5rem;
  width: 10rem;
}

.work-info {
  text-align: center;
}

.work-info p {
  margin: 1rem;
}



/* Utility classes
*********************************************************/
.centered {
  margin: 0 auto;
  max-width: 30rem;
  width: 90%;
}

/* RWD Media queries
*********************************************************/
@media (min-width: 35em) {
  html {
    font-size: 200%;
  }
  body {
    font-size: 50%;
  }
}

// @media (min-width: 70em) {
//   html {
//     font-size: 300%;
//   }
//   body {
//     font-size: 40%;
//   }
// }
